	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2019 13:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-user:before { content: "\f100"; }
.flaticon-shopping-bag:before { content: "\f101"; }
.flaticon-magnifying-glass:before { content: "\f102"; }
.flaticon-down-arrow:before { content: "\f103"; }
.flaticon-right-arrow:before { content: "\f104"; }
.flaticon-back:before { content: "\f105"; }
.flaticon-up-arrow:before { content: "\f106"; }
.flaticon-right-arrow-1:before { content: "\f107"; }
.flaticon-left-arrow:before { content: "\f108"; }
.flaticon-download-arrow:before { content: "\f109"; }
.flaticon-up-arrow-1:before { content: "\f10a"; }
.flaticon-student:before { content: "\f10b"; }
.flaticon-book:before { content: "\f10c"; }
.flaticon-global:before { content: "\f10d"; }
.flaticon-first:before { content: "\f10e"; }
.flaticon-trophy:before { content: "\f10f"; }
.flaticon-like:before { content: "\f110"; }
.flaticon-profile:before { content: "\f111"; }
.flaticon-consulting-message:before { content: "\f112"; }
.flaticon-review:before { content: "\f113"; }
.flaticon-comment:before { content: "\f114"; }
.flaticon-calendar:before { content: "\f115"; }
.flaticon-calendar-1:before { content: "\f116"; }
.flaticon-appointment:before { content: "\f117"; }
.flaticon-placeholder:before { content: "\f118"; }
.flaticon-placeholder-1:before { content: "\f119"; }
.flaticon-placeholders:before { content: "\f11a"; }
.flaticon-apple:before { content: "\f11b"; }
.flaticon-google-play:before { content: "\f11c"; }
.flaticon-megaphone:before { content: "\f11d"; }
.flaticon-student-1:before { content: "\f11e"; }
.flaticon-elearning:before { content: "\f11f"; }
.flaticon-elearning-1:before { content: "\f120"; }
.flaticon-checklist:before { content: "\f121"; }
.flaticon-student-2:before { content: "\f122"; }
.flaticon-student-3:before { content: "\f123"; }
.flaticon-ebook:before { content: "\f124"; }
.flaticon-cap:before { content: "\f125"; }
.flaticon-graduation-cap:before { content: "\f126"; }
.flaticon-jigsaw:before { content: "\f127"; }
.flaticon-online:before { content: "\f128"; }
.flaticon-online-learning:before { content: "\f129"; }
.flaticon-account:before { content: "\f12a"; }
.flaticon-online-learning-1:before { content: "\f12b"; }
.flaticon-tablet:before { content: "\f12c"; }
.flaticon-lamp:before { content: "\f12d"; }
.flaticon-pencil:before { content: "\f12e"; }
.flaticon-employee:before { content: "\f12f"; }
.flaticon-resume:before { content: "\f130"; }
.flaticon-photo-camera:before { content: "\f131"; }
.flaticon-creative-idea:before { content: "\f132"; }
.flaticon-web:before { content: "\f133"; }
.flaticon-speaker:before { content: "\f134"; }
.flaticon-3d:before { content: "\f135"; }
.flaticon-web-programming:before { content: "\f136"; }
.flaticon-beach-ball:before { content: "\f137"; }
.flaticon-bathroom:before { content: "\f138"; }
.flaticon-toy:before { content: "\f139"; }
.flaticon-bike:before { content: "\f13a"; }
.flaticon-refund:before { content: "\f13b"; }
.flaticon-refund-1:before { content: "\f13c"; }
.flaticon-share:before { content: "\f13d"; }
.flaticon-play-button:before { content: "\f13e"; }
.flaticon-download:before { content: "\f13f"; }
.flaticon-download-1:before { content: "\f140"; }
.flaticon-key:before { content: "\f141"; }
.flaticon-key-1:before { content: "\f142"; }
.flaticon-responsive:before { content: "\f143"; }
.flaticon-flash:before { content: "\f144"; }
.flaticon-award:before { content: "\f145"; }
.flaticon-medal:before { content: "\f146"; }
.flaticon-medal-1:before { content: "\f147"; }
.flaticon-play-button-1:before { content: "\f148"; }
.flaticon-like-1:before { content: "\f149"; }
.flaticon-love:before { content: "\f14a"; }
.flaticon-puzzle-1:before { content: "\f14b"; }
.flaticon-shopping-bag-1:before { content: "\f14c"; }
.flaticon-shopping-bag-2:before { content: "\f14d"; }
.flaticon-speech-bubble:before { content: "\f14e"; }
.flaticon-rating:before { content: "\f14f"; }
.flaticon-add-contact:before { content: "\f150"; }
.flaticon-settings:before { content: "\f151"; }
.flaticon-settings-1:before { content: "\f152"; }
.flaticon-logout:before { content: "\f153"; }
.flaticon-send:before { content: "\f154"; }
.flaticon-send-1:before { content: "\f155"; }
.flaticon-paper-plane:before { content: "\f156"; }
.flaticon-send-2:before { content: "\f157"; }
.flaticon-edit:before { content: "\f158"; }
.flaticon-preview:before { content: "\f159"; }
.flaticon-delete-button:before { content: "\f15a"; }
.flaticon-alarm:before { content: "\f15b"; }
.flaticon-alarm-1:before { content: "\f15c"; }
.flaticon-email:before { content: "\f15d"; }
.flaticon-clock:before { content: "\f15e"; }
.flaticon-call:before { content: "\f15f"; }
.flaticon-phone-call:before { content: "\f160"; }
.flaticon-www:before { content: "\f161"; }
.flaticon-zoom-in:before { content: "\f162"; }